@mixin pick-a-day {
  @apply bg-outline text-dark;
}
@mixin content {
  @apply w-10 h-10;
}
@mixin not-allowed {
  @apply cursor-not-allowed border bg-gray-800 text-white text-center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.calendar-container {
  @apply text-white w-96 border bg-dark;
  .content-animation {
    animation: fadeIn 0.7s;
  }
  table {
    @apply w-full mx-auto;
    .header-tb {
      @apply border-b-2 text-outline font-semibold text-lg py-3;
    }
    th,
    td {
      @include content;
      @apply text-center;
    }
    .day-allowed {
      @apply border;
    }
    .day-picked,
    .day-allowed:hover {
      @include pick-a-day;
    }
    .day-not-allowed {
      @include not-allowed;
    }
  }
}
.months-container {
  .month-header {
    @apply text-center text-outline font-semibold text-lg py-3 cursor-pointer border;
  }
  .month-allowed {
    @apply text-center cursor-pointer border text-white py-4;
  }
  .month-picked,
  .month-allowed:hover {
    @include pick-a-day;
  }
  .month-not-allowed {
    @apply py-4;
    @include not-allowed;
  }
}
.years-container {
  @apply overflow-y-auto;
  height: 361px;
  .year-allowed {
    @apply text-center py-2 cursor-pointer text-white;
  }
  #currentYear,
  .year-allowed:hover {
    @include pick-a-day;
    @apply rounded-xl
  }
  .year-not-allowed {
    @apply py-2;
    @include not-allowed;
  }
}
